/* about page stylesheet */
/* Mobile view*/


#footer_div{
  grid-column: 1/-1;
  grid-row: 10/auto;
}

body{
  background-color: #FFFF;

}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-template-rows: 30px auto auto auto auto auto auto auto auto 100px;
}

.wedding-image{
  grid-column: 2/4;
  grid-row: 4/5;

}
.newstext{
  grid-column: 1/-1;
  grid-row: 9/10;
}
.abouttext{
  grid-column: 1/-1;
  grid-row: 7/8;
}
.newstitle{
  grid-column: 2/4;
  grid-row: 8/9;
}

.about-title{
  grid-column: 1/4;
  grid-row: 4/5;
  font-family: Open Sans, sans-serif;
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-top: 40px;
  /* font-size: 3rem;
  margin-top: 10px; */
  /* font-family: Open Sans, sans-serif;
  color: #004E89; */
}

.site-branding{
  grid-column: 1/-1;
  grid-row: 1/2;
}



/* Tablet */
@media screen and (min-width: 700px){
  #michaelanne_home_img{
    max-width: 150px;
  }
  .home-content{
    display:grid;
  }
  #home-paragraphs{
    grid-column: 1/ span 1;
  }


}

/* Desktop */
@media screen and (min-width: 900px){
  .wedding-image{
    grid-column: 1/2;
    grid-row: 4/5;
    margin-left: 60px;
    margin-top: 25px;

  }
  .newstitle{
    grid-column: 2/4;
    grid-row: 8/9;
  }

  .newstext{
    grid-column: 1/4;
    grid-row: 9/10;
    margin-left: 60px;
  }
  .abouttext{
    grid-column: 2/5;
    grid-row: 4/5;
    margin-right: 40px;
  }

}

/* Reduce motion */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
}
