/* about page stylesheet */
/* Mobile view*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html{
    scroll-behavior: smooth;
}

#footer_div{
  grid-column: 1/-1;
  grid-row: 10/auto;
}

body{
  background-color: #FFFF;

}
a {
  color: #bf4c22;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top:-40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top:0;
}
*:focus{
  border: solid 2px red;
}

/* .site-branding{
  min-height: 300px;
  line-height: 40px;
  background-repeat: no-repeat;
  background: url("../images/header-edit.jpg") repeat 0 0;
  margin:0;
  background-attachment: fixed;
  background-size: 100%;
  background-position: top center;
  align-items: center;

} */
.site-branding{
  min-height: 150px;
  background-image: url("../images/header-edit.jpg");
  background-repeat: no-repeat;
  margin:0;
  background-attachment: scroll;
  background-size: 100%;
  background-position: center;
  align-items: center;
}
.current a {
    background-color: #FF6B35;
    padding: 10px;
    color: white !important;
    border: 1px solid #FF6B35;
    border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-template-rows: 30px auto auto auto auto auto auto auto auto 100px;
}
p{
  font-family: Open Sans, sans-serif;
  color: #333;
  padding: 20px;
  line-height: normal;
  font-size: 1.2em;
}

.wedding-image{
  grid-column: 2/4;
  grid-row: 4/5;

}
.newstext{
  grid-column: 1/-1;
  grid-row: 9/10;
}
.abouttext{
  grid-column: 1/-1;
  grid-row: 7/8;
}
.newstitle{
  grid-column: 2/4;
  grid-row: 8/9;
}

.about-title{
  grid-column: 1/4;
  grid-row: 4/5;
  font-family: Open Sans, sans-serif;
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-top: 40px;
  /* font-size: 3rem;
  margin-top: 10px; */
  /* font-family: Open Sans, sans-serif;
  color: #004E89; */
}

.site-branding{
  grid-column: 1/-1;
  grid-row: 1/2;
}

.footer_info{
  color: #EFEFD0;
}


/* Tablet */
@media screen and (min-width: 700px){
  #michaelanne_home_img{
    max-width: 150px;
  }
  .home-content{
    display:grid;
  }
  #home-paragraphs{
    grid-column: 1/ span 1;
  }


}

/* Desktop */
@media screen and (min-width: 900px){
  .wedding-image{
    grid-column: 1/2;
    grid-row: 4/5;
    margin-left: 60px;
    margin-top: 25px;

  }
  .newstitle{
    grid-column: 2/4;
    grid-row: 8/9;
  }

  .newstext{
    grid-column: 1/4;
    grid-row: 9/10;
    margin-left: 60px;
  }
  .abouttext{
    grid-column: 2/5;
    grid-row: 4/5;
    margin-right: 40px;
  }

}

/* Reduce motion */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
}
