/* Style for index.html
/* Mobile view*/
body{
  color: black;
  background-color: #FFFF;
}
.entry-title{
  font-size: 3rem;
  margin-top: 10px;
}
.site-branding{
  min-height: 100px;
  background-image: url("../images/header-edit.jpg");
  background-repeat: no-repeat;
  margin:0;
  background-attachment: scroll;
  background-size: 100%;
  background-position: center;
  align-items: center;
}

h2{
  font-family: "Open Sans", sans-serif;
  text-align: left;
  color: #004E89;
  font-size: 28px;
  margin-top: 40px;
}
#michaelanne_home_img{
  width: 35vw;
  display: inline;
  float: left;
  margin-right: 1.25em;

  margin-bottom: 0.1em;
}
.home-content p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.7;
  margin-bottom: 1.5em;
  margin-left: .5em;
  margin-right:.5em;
  text-rendering: optimizeLegibility;
}

.skip_t a{
  background: white;
  left: 0;
  padding: 6px;
  position: fixed;
  top:-40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  width: 150px;
}

.skip_t a:focus{
  top:0px;
}
.skip_t{
  left: 0;
  padding: 6px;
  position: absolute;
  top:-40px;
}

.twitter_div{
  margin-left: .5em;
  margin-right:.5em;
}
#twitter-mobile{
  display:block;
}
#twitter-tablet{
  display:none;
}
#twitter-desktop{
  display:none;
}
footer{
  display: inline-block;
  position: sticky;
  left: 0;
  height: 20%;
  width: 100%;
  color: white;
  background-color: #333;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

i {
  color: white;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 15%;
  margin-left: 15px;
  object-fit: contain;
}
/* .header-bg {
  background-image: url("../images/color.jpg");
  height: 400px;
} */


/* Tablet */
@media screen and (min-width: 700px){
  #michaelanne_home_img{
    max-width: 150px;
  }
  .home-content{
    display:grid;
  }
  #home-paragraphs{
    grid-column: 1/ span 1;
  }
  .twitter_div{
    grid-column: 2/span 1;
  }

  #twitter-mobile{
    display:none;
  }
  #twitter-tablet{
    display:block;
  }
  #twitter-desktop{
    display:none;
  }
  .site-branding{
    min-height: 200px;
  }

}

/* Desktop */
@media screen and (min-width: 900px){
  #twitter-mobile{
    display:none;
  }
  #twitter-tablet{
    display:none;
  }
  #twitter-desktop{
    display:block;
  }
  .site-branding{
    min-height: 300px;

  }
}
/* Reduce motion */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
  .skip_t a{
    -webkit-transition: default;
    transition: default;
  }
}
