/* This is our main stylesheet */
/* Mobile view*/
body{
  color: #004e89;
  background-color: #EFEFD0;
}
.entry-title{
  font-size: 3rem;
  margin-top: 10px;
}
.home-page{
  margin:1em;
  font-family: "Open Sans", serif;

}
.site-branding h1 {

    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    font-size: 32px;
    /* vertical-align: middle; */
    padding-top:1em;
  }
.site-branding h2 {

    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    padding:1em;
    /* vertical-align: middle; */
}
.site-branding{
  min-height: 200px;
  line-height: 40px;
  background: url("../images/header.jpg") repeat 0 0;
  margin:0;
  background-attachment: fixed;
  background-size: 100%;
  background-position: top center;
  align-items: center;

}
.header-bg{

}
#michaelanne_home_img{
  width: 35vw;
  display: inline;
  float: left;
  margin-right: 1.25em;
  /* margin-left: 1.25em; */
  margin-bottom: 0.1em;
}
.home-content p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.7;
  margin-bottom: 1.5em;
  margin-left: .5em;
  margin-right:.5em;
  text-rendering: optimizeLegibility;
}
.skip_t a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top:-40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  width: 150px;
}

.skip_t a:focus{
  top:40px;
}
.skip_t{
  left: 0;
  padding: 6px;
  position: absolute;
  top:-40px;
}

.twitter_div{
  margin-left: .5em;
  margin-right:.5em;
}
#twitter-mobile{
  display:block;
}
#twitter-tablet{
  display:none;
}
#twitter-desktop{
  display:none;
}


/* Tablet */
@media screen and (min-width: 700px){
  #michaelanne_home_img{
    max-width: 150px;
  }
  .home-content{
    display:grid;
  }
  #home-paragraphs{
    grid-column: 1/ span 1;
  }
  .twitter_div{
    grid-column: 2/span 1;
  }

  #twitter-mobile{
    display:none;
  }
  #twitter-tablet{
    display:block;
  }
  #twitter-desktop{
    display:none;
  }

}

/* Desktop */
@media screen and (min-width: 900px){
  #twitter-mobile{
    display:none;
  }
  #twitter-tablet{
    display:none;
  }
  #twitter-desktop{
    display:block;
  }
}
/* Reduce motion */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
  .skip_t a{
    -webkit-transition: default;
    transition: default;
  }
}
