/* Publications page stylesheet */
/* Mobile view*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html{
    scroll-behavior: smooth;
}

#footer_div{
  grid-column: 1/-1;
  grid-row: 10/auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-template-rows: 30px auto auto auto auto auto auto auto auto 100px;
}

.publicationstext{
  grid-column: 1/-1;
  grid-row: 8/9;
}
.site-title{
  grid-column: 1/-1;
  grid-row: 1/2;
}

.site-description{
  grid-column: 1/-1;
  grid-row: 2/3;
}

.publications-title{
  grid-column: 2/4;
  grid-row: 3/4;
}


/* Tablet */
@media screen and (min-width: 700px){

}

/* Desktop */
@media screen and (min-width: 900px){
  .publicationstext{
    grid-column: 2/4;
    grid-row: 9/10;
  }

}

/* Reduce motion */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
}


