/* Publications page stylesheet */
/* Mobile view*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html{
    scroll-behavior: smooth;
}

#footer_div{
  grid-column: 1/-1;
  grid-row: 10/auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-template-rows: 30px auto auto auto auto auto auto auto auto 100px;
}



/* Accordian Links - Gallery Page */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    font-size:32px;
    transition: 0.5s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }
  
  .form {
    background-color: white;
  }
  /* End Accordian Links */


/* Tablet */
@media screen and (min-width: 700px){

}

/* Desktop */
@media screen and (min-width: 900px){
  .publicationstext{
    grid-column: 2/4;
    grid-row: 9/10;
  }

}

/* Reduce motion */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
}


