/* about page stylesheet */
/* Mobile view*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html{
    scroll-behavior: smooth;
}
/* h1{
  font-family: Open Sans, sans-serif;
  text-align: center;
  color: #004E89;
  font-size: 32px;

}

h2{
  font-family: Open Sans, sans-serif;
  text-align: center;
  color: #004E89;
  font-size: 28px;
  margin-top: 40px;

} */
#footer_div{
  grid-column: 1/-1;
  grid-row: 10/auto;
}

body{
  background-color: #FFFF;

}
a {
  color: #bf4c22;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top:-40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top:0;
}
*:focus{
  border: solid 2px red;
}

.site-branding{
  min-height: 300px;
  line-height: 40px;
  background-repeat: no-repeat;
  background: url("../images/header-edit.jpg") repeat 0 0;
  margin:0;
  background-attachment: fixed;
  background-size: 100%;
  background-position: top center;
  align-items: center;

}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-template-rows: 30px auto auto auto auto auto auto auto auto 100px;
}
p{
  font-family: Open Sans, sans-serif;
  color: #333;
  padding: 20px;
  line-height: normal;
  font-size: 1.2em;
}

.presstext{
  grid-column: 1/-1;
  grid-row: 8/9;
}
.site-title{
  grid-column: 1/-1;
  grid-row: 1/2;
}

.site-description{
  grid-column: 1/-1;
  grid-row: 2/3;
}
.selected-title{
  grid-column: 2/4;
  grid-row: 3/4;
  font-family: Open Sans, sans-serif;
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-top: 40px;
}


/* Tablet */
@media screen and (min-width: 700px){
  #michaelanne_home_img{
    max-width: 150px;
  }
  .home-content{
    display:grid;
  }
  #home-paragraphs{
    grid-column: 1/ span 1;
  }


}

/* Desktop */
@media screen and (min-width: 900px){
  .presstext{
    grid-column: 2/4;
    grid-row: 9/10;
  }

}

/* Reduce motion */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
}
