  /* This is our main stylesheet */
  /* Mobile view*/

  /* Header image at top of site */
  .site-branding{
    min-height: 150px;
    background-image: url("../images/header-thin1.jpg");
    background-repeat: no-repeat;
    margin:0;
    background-attachment: scroll;
    background-size: 100%;
    background-position: center;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    height: 70px;
    flex: 0 0 100%;
    overflow: hidden;
    background-color: #333;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-family: "Open Sans", serif;
    color: #004E89;
  }
  a:hover{
    font-weight: bold;
    text-decoration: underline;
  }
  /* How navbar indicates the current page */
  .current a {
    background-color: #595959;
    padding: 10px;
    color: white !important;
    border: 1px solid #595959;
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;
}
  /* Navbar links */
  .nav-menu a {
    display: flex;
    color: #FFFF;
    text-align: center;
    text-decoration: none;
    justify-content: right;
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav-menu a:hover {
    font-weight: bold;
    text-decoration: underline;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }

  h2{
    font-family: "Open Sans", sans-serif;
    margin: 1em;
    color: #333;
    font-size: 28px;
    margin-top: 40px;
  }


  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  .home-page, .page{
    margin:1em;
    font-family: "Open Sans", serif;
  }
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content-area {
    padding-top: 60px;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top:-40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  a {
    color: #bf4c22;
  }

  .skip a:focus{
    top:0;
  }
  *:focus{
    border: solid 2px white;
  }
  .page{
    min-height: calc(100vh - 100px);
  }
  footer{
    display: inline-block;
    position: sticky;
    left: 0;
    height: 20%;
    width: 100%;
    color: white;
    background-color: #333;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  p{
    font-family: Open Sans, sans-serif;
    color: #333;
    padding: 20px;
    line-height: normal;
    font-size: 1.2em;
  }

  i {
    color: white;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 15%;
    margin-left: 15px;
    object-fit: contain;
  }
  /* About Page */

  #footer_div{
    grid-column: 1/-1;
    grid-row: 10/auto;
  }
    /* About Page */

  body{
    background-color: #FFFF;

  }

  .container1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-template-rows: 30px auto auto auto auto auto auto auto auto 100px;
  }

  .wedding-image{
    grid-column: 2/4;
    grid-row: 4/5;

  }
  .newstext{
    grid-column: 1/-1;
    grid-row: 9/10;
  }
  .abouttext{
    grid-column: 1/-1;
    grid-row: 7/8;
  }
  .newstitle{
    grid-column: 2/4;
    grid-row: 8/9;
  }

  .about-title{
    grid-column: 1/4;
    grid-row: 4/5;
    font-family: Open Sans, sans-serif;
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-top: 40px;
  }

  .site-branding{
    grid-column: 1/-1;
    grid-row: 1/2;
  }




  /* Tablet */

@media screen and (min-width: 700px){
    /* About Page */
  #footer_div{
    grid-template-rows: 1fr;
    min-height:80px;
    grid-template-columns: auto auto auto auto auto auto;
  }
  .site-branding{
    min-height: 200px;
  }
  #michaelanne_home_img{
    max-width: 150px;
  }
  .home-content{
    display:grid;
  }
  #home-paragraphs{
    grid-column: 1/ span 1;
  }
}

/* Desktop */
@media screen and (min-width: 900px){
  i {
    color: white;
    width: 10px;
    padding: 10px;
}

  footer {
    font-size: 24px;
    height: 40px;
    text-align: left;
  }
    /* About Page */
  .wedding-image{
    grid-column: 1/2;
    grid-row: 4/5;
    margin-left: 60px;
    margin-top: 25px;

  }
  .newstitle{
    grid-column: 2/4;
    grid-row: 8/9;
  }

  .newstext{
    grid-column: 1/4;
    grid-row: 9/10;
    margin-left: 60px;
  }
  .abouttext{
    grid-column: 2/5;
    grid-row: 4/5;
    margin-right: 40px;
  }

}

/* Reduce motion */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
  .skip a{
    -webkit-transition: default;
    transition: default;
  }
  .site-branding{
    min-height: 300px;
  }
}
