  /* This is our main stylesheet */
  /* Mobile view*/
  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top:-40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;

    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
  *:focus{
    border: solid 2px red;
  }
  footer{
    background-color: #004e89;
    color: #EFEFD0;
    min-height: 60px;
  }
  /* Tablet */

@media screen and (min-width: 700px){
  #michaelanne_home_img{
    max-width: 150px;
  }
}

/* Desktop */
@media screen and (min-width: 900px){

}

/* Reduce motion */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
  .skip a{
    -webkit-transition: default;
    transition: default;
  }

}
